appnope==0.1.2; sys_platform == "darwin" and python_version >= "3.7"
backcall==0.2.0; python_version >= "3.7"
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0"
decorator==4.4.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.7"
dnspython==2.1.0; python_version >= "3.6"
email-validator==1.1.2
environs==9.3.0; python_version >= "3.6"
flask==1.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
flask-wtf==0.14.3
idna==3.1; python_version >= "3.4"
ipython==7.19.0; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7"
itsdangerous==1.1.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
jedi==0.17.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
jinja2==2.11.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
markupsafe==1.1.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
marshmallow==3.10.0; python_version >= "3.6"
parso==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
prompt-toolkit==3.0.10; python_full_version >= "3.6.1" and python_version >= "3.7"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.7"
pygments==2.7.4; python_version >= "3.7"
python-dotenv==0.15.0
traitlets==5.0.5; python_version >= "3.7"
wcwidth==0.2.5; python_full_version >= "3.6.1" and python_version >= "3.7"
werkzeug==1.0.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
wtforms==2.3.3
